@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;800&family=PT+Serif&display=swap');

/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(255, 240, 234);
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 150%;
}

a{
    color:rgb(177, 104, 120);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* -------------------- HEADINGS AND TYPE */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1rem;
}

/* -------------------- HEADER */
body .layout-wide {
    display: grid
}

.content-item {
    display: grid;
}

.content-inner {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.text-element {
    padding-left: 8%;
    padding-right: 8%;
}

@media screen and (min-width: 1000px) {

    .content-item {
        grid-template-columns: 1fr 1fr;
    }

}

/* -------------------- NAVIGATION */

.nav-prompt {
    height: 40;
    width: 50;
    border: none;
    background-color: transparent;
}
.main-nav {
    list-style: none;
    padding-left: 0;

}


.main-nav a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-transform: uppercase;
}

.main-nav {
    display: flex;
    display: none;
}

.main-nav.open {
    display: block;
}
/* -------------------- PHOTOGRAPHY */
/*---- image gallery*/

.gallery img {
    justify-content: space-between;
    transition: 0.2s;
    filter:grayscale();
}
.gallery a:hover img{
    transform: scale(0.95);
    filter: none;
}

/* -------------------- VISUAL DESIGN */
/*---- gallery with images and text descriptions*/

.gallery2 img {
    justify-content: space-between;
    transition: 0.2s;
    filter:grayscale();
}

.gallery2 a:hover img{
    transform: scale(0.95);
    filter: none;
}


/*--------------------- BRANDING */
/*---- grid layouts - 2 columns - alternating text and images */

.branding-item {
    display: grid;
}

.branding-inner {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.image {
    padding-left: 8%;
    padding-right: 8%;
}

.tmc {
    padding-left: 8%;
    padding-right: 8%;  
}

@media screen and (min-width: 750px) {

    .branding-item {
        grid-template-columns: 1fr 1fr;
    }



/*--------------------- CONTACT */

.links {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50%;
}
/*--------------------- FOOTER */
footer {
    text-align: center;
    font-size: 12px;
}